[core]
    editor = emacs
    excludesfile = ~/.config/git/.gitignore_global
    pager = delta

[include]
    path = ~/.config/git/.gitconfig.user

[credential]
    helper = osxkeychain

[init]
    defaultBranch = main

[fetch]
    prune = true

[push]
    default = current

[pull]
    rebase = false

[rebase]
    autoStash = true

[rerere]
    enabled = true

[diff]
    #  Use (i)ndex/(w)ork tree/(c)ommit/(o)bject prefixes instead of a/b/c/d
    mnemonicprefix = true
    algorithm = patience
    colorMoved = default

[grep]
    extendRegexp = true
    lineNumber = true

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    #  Current branch name (building block for other aliases)
    branch-name = !git rev-parse --abbrev-ref HEAD

    #  Commits on the current branch not yet pushed
    np = "!git log origin/$(git branch-name)..$(git branch-name)"

    #  Push the current branch and set upstream
    puo = "!git push -u origin $(git branch-name)"

    #  Pull the current branch from origin
    po = "!git pull origin $(git branch-name)"

    #  Add everything + commit (takes the commit message as the argument)
    ac = !git add . && git commit -am

    #  Pretty log graph
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

    #  Shortcuts
    st = status -u
    co = checkout
    nb = checkout -b
    df = diff

    #  Diff the last commit against the previous one
    last = diff --cached HEAD^

    #  Summarize your own commits
    recap = "!git log --oneline --no-merges --author=\"$(git config user.email)\""

    #  List all branches (local + remote)
    ls = branch --list -a

    #  Compare the current branch's commits to main
    compare = "!git log --left-right --graph --cherry-pick --oneline $(git branch-name)...main"

    #  Refresh local list of remote branches (prune stale ones)
    rl = remote update origin --prune

    #  uc = undo last commit (keep changes); dc = destroy last commit (discard)
    uc = reset HEAD~1
    dc = reset --hard HEAD~1

    #  Branches sorted by most recent activity
    #  https://carolynvanslyck.com/blog/2020/12/git-wip/
    wip = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

    #  Authors across the repo
    authors = shortlog -sne --all --no-merges
